@use "constants" as *;

main.about {
  position: relative;

  .dress {
    padding: 4rem 1.5rem;
    min-height: 60%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 100%
      ),
      url(assets/dress/about-header-1080w.jpg) fixed no-repeat;

    background-blend-mode: overlay;
    background-size: cover;
    background-position-x: 50%;
    @supports (-webkit-touch-callout: none) {
      background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.4) 0%,
          rgba(0, 0, 0, 0.4) 100%
        ),
        url(assets/dress/about-header-1080w.jpg) top center no-repeat scroll;
      background-size: cover;
    }

    .c-statement {
      h2 {
        margin-bottom: 1rem;
      }
    }
  }

  .festival {
    position: relative;
    margin: -1.1vh 0 0;
    padding: 4rem 1.5rem;

    background: $primary-magenta;
    &::before {
      content: "";
      position: absolute;
      background-image: url(assets/dress/textures/fabric-texture_terry.jpg);
      background-size: 30%;
      mix-blend-mode: multiply;
      width: 100%;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.3;
    }

    & > * {
      z-index: 10;
    }

    .mission {
      h2 {
        margin-bottom: 0.5rem;
      }
    }
    .history {
      margin-top: 2rem;
      h2 {
        margin-bottom: 0.5rem;
      }
    }
  }

  .people {
    position: relative;
    padding: 4rem 1.5rem;
    background: $pink;

    &::before {
      content: "";
      position: absolute;
      background-image: url(assets/dress/textures/fabric-texture_fine-knit.jpg);
      background-size: 20%;
      mix-blend-mode: multiply;
      width: 100%;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.3;
    }

    & > * {
      z-index: 10;
    }

    a {
      color: $black;
      &:visited {
        color: #443f43;
      }
    }
    h2 {
      color: $white;
      margin-bottom: 1rem;
    }
    .thinkers {
      margin-top: 3rem;
      .thinkers-title {
        margin-bottom: 0.5rem;
      }
    }

    color: $black;

    .staff-item,
    .thinker-item {
      margin-bottom: 1rem;
      border-top: 1px dashed $dadbod-yellow;
      padding-top: 0.5rem;
    }
  }

  .partners {
    position: relative;
    padding: 4rem 1.5rem;

    &::before {
      content: "";

      // Z-index on children causing glitch with body background, necessitates a z-index on ::before
      z-index: -1;
      position: absolute;
      background-image: url(assets/dress/textures/fabric-texture_fine-knit.jpg);
      background-size: 40%;
      mix-blend-mode: multiply;
      width: 100%;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.3;
    }

    // The following works on every other section

    // & > * {
    //   z-index: 10;
    // }

    h2 {
      margin-bottom: 2rem;
    }
    .partner-container {
      border-top: 1px solid $neon-yellow;
      margin-bottom: 3rem;
      .partner {
        &:last-child {
          // Set no margin on the last partner area
          margin-bottom: 0;
        }
      }
    }
    .partner-logo {
      margin-bottom: 1.5rem;
      max-width: 100%;
    }
    .button {
      margin-top: 1rem;
    }
  }

  .support {
    position: relative;
    padding: 4rem 1.5rem;
    color: $black;

    background: $beige;

    &::before {
      content: "";
      position: absolute;
      background-image: url(assets/dress/textures/fabric-texture_knit.jpg);
      background-size: 29%;
      mix-blend-mode: multiply;
      width: 100%;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.25;
    }

    & > * {
      z-index: 10;
    }

    a {
      color: $black;
      &:visited {
        color: #443f43;
      }
    }

    h2 {
      margin-bottom: 2rem;
    }
    h3 {
      margin-bottom: 1rem;
    }
    .dedication {
      margin-bottom: 2rem;
    }
  }
}
