@use "constants" as *;

main.about {
  position: relative;
  padding: 0 1.5rem;
  width: calc(100% - 3rem);
  .dress-mission {
    margin: 0 -1.5rem;
    padding: 4rem 1.5rem 0 1.5rem;

    background-size: auto 100%;
    background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.4) 0%,
          rgba(0, 0, 0, 0.4) 100%
        )
        fixed no-repeat,
      linear-gradient(
          64deg,
          #05633e 20.09%,
          rgba(199, 161, 216, 0.9) 46.64%,
          rgba(182, 121, 186, 0.9) 50.57%,
          #810061 71.04%
        )
        fixed no-repeat,
      url(assets/dress/about-header-1080w.jpg) fixed no-repeat;
    background-blend-mode: normal, overlay, normal;
    background-size: cover;
    background-position-x: 50%;

    .dress {
      h2 {
        text-align: center;
        margin-bottom: 1rem;
      }
    }

    .mission {
      padding-top: 3rem;
      h2 {
        margin-bottom: 0.5rem;
      }
    }
  }
  .history {
    h2 {
      text-align: right;
      margin-bottom: 0.5rem;
    }
    background: $primary-magenta;
    margin: -1.1vh -1.5rem 0 -1.5rem;
    padding: 3rem 1.5rem;
  }

  .people {
    background: $pink;
    margin: 0 -1.5rem;
    padding: 2rem 1.5rem;
    h2 {
      color: $white;
      margin-bottom: 1rem;
    }

    color: $black;

    .staff {
      margin-bottom: 1rem;
      border-top: 1px dashed $dadbod-yellow;
      padding-top: 0.5rem;
    }
  }
}
