$primary-red: #d72027;
$secondary-red: #ad1f25;
$pale-blue: #d4f2ff; // #a6d6ea;
$darker-blue: #6b98ad;
$aiop-purple: #210542;
$grey: #212326;
$grey-2: #2b2d31;

$beige: #e4dbcc; //#eddfc5; //#e6ddcb;
$beige-02: #dfd6c5;
$beige-dark: #d0c2b0;
$dark: #0f3a46; // #285562;
$dark-grey: #393d3f;
$teal: #216972;

// 2023 Colors
$primary-orange: #f74500;
$primary-magenta: #810061;
$lavender: #c7a1d8;
$pink: #ff779c;
$neon-yellow: #f0fa00;
$dadbod-yellow: #dadb0d;
$deep-green: #05633e;
$coal: #2c2c2c;
$white: #fff;
$black: #000;

$primary-type: "degular-variable", sans-serif;
$display-type: "degular-variable", sans-serif;
$text-type: "degular-text", sans-serif;

@mixin twelve-col-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1rem;
  max-width: 100%;
  // max-width: 1200px;
  // width: calc(100vw - 3rem);
  // padding: 1.5rem;
}

@mixin title-display {
  font: 16vw $display-type;
  font-variation-settings: "wght" 700, "opsz" 72, "ital" 0; //display
}
@mixin title-display-tablet {
  font: 14vw $display-type;
  font-variation-settings: "wght" 700, "opsz" 72, "ital" 0; //display
}

@mixin p-deg-text {
  font: 1rem $text-type;
  font-variation-settings: "wght" 400, "opsz" 6, "ital" 0; //text
  line-height: 1.125rem;
}

@mixin nav-links {
  font: 1rem $display-type;
  font-variation-settings: "wght" 600, "opsz" 40, "ital" 0;
}

@mixin script-display {
  // Enter script mixin here
}
