@use "constants" as *;

div#donate-bg {
  z-index: -10;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  background: $beige;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(assets/dress/textures/fabric-texture_fine-knit.jpg);
    mix-blend-mode: multiply;
    background-size: 60%;
    opacity: 0.3;
  }
}
main.donate {
  padding: 4rem 1.5rem;
  color: $black;

  div.payment-method {
    margin-top: 2rem;
    p {
      margin: 1rem 0;
    }
  }
}
