@use "constants" as *;

main.home {
  display: block;
  .header {
    z-index: 0;
    position: relative;
    // display: grid;
    min-height: 70vh;
    // width: 100vw;
    background: url(assets/dress/home-header-bg.png) fixed no-repeat
      $primary-orange;
    background-size: auto 100vh;

    #pattern-r-top {
      z-index: 10;
      position: absolute;
      right: 0;
      top: 20vh;
      //   border: 1px solid blue;
      width: 43vw;
    }

    #title {
      z-index: 20;
      position: relative;
      margin: auto;
      max-width: 22.5rem;
      min-width: 14rem;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: stretch;
      padding: 20vh 0 6vh;

      h1 {
        @include title-display;
      }

      #title-left {
        align-self: flex-start;
        // flex: 2 2 auto;
        // width: 100%;
      }

      #title-right {
        align-self: flex-end;
        // width: 100%;

        // flex: 2 2 auto;
      }

      #title-center {
        align-self: center;
        // width: 100%;

        // flex: 2 2 auto;
      }
    }

    #pattern-l-top {
      z-index: 10;
      position: absolute;
      left: 0;
      top: -20;
      //   border: 1px solid blue;
      width: 48vw;
    }

    .page-down {
      z-index: 20;
      max-width: 100%;
      min-width: 300px;
      height: auto;
      position: absolute;
      bottom: 0;
    }
  }

  .bg-wrapper {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      z-index: -100;
      background-image: url(assets/dress/home-mobile-bg.png);
      //   background-color: lightgray;
      background-size: cover;
      mix-blend-mode: multiply;
      width: 100%;
      overflow: hidden;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.6;
    }
  }

  #about,
  #dates,
  #artists {
    // overflow-x: hidden;
    padding: 1.5rem;
    min-height: 20rem;
    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    .script {
    }
  }
  #dates {
    color: white;
    // background: url(assets/dress/home-texture-01.png) no-repeat;
    padding: 10rem 1.5rem 6rem 1.5rem;
  }

  #pattern-r-mid {
    z-index: -1;
    position: absolute;
    right: 0;
    top: -300;
    //   border: 1px solid blue;
    width: 49vw;
  }

  #pattern-l-mid {
    z-index: -1;
    position: absolute;
    left: 9vw;
    top: -60;
    //   border: 1px solid blue;
    width: 60vw;
  }

  #about {
    color: white;
    min-height: 0px;
    // background: $dark;
    a.primary {
      color: $white;
      border: 1px solid white;
      background: $primary-orange;
    }
  }
  #artists {
    // background: $beige-02;
    overflow-x: hidden;
    img.index-card {
      max-width: 60vw;
      &#index-card-01 {
        position: relative;
        top: 2rem;
        left: 12rem;
        transform: rotate(3deg);
      }
      &#index-card-02 {
        position: relative;
        top: 1rem;
        left: 5rem;
        transform: rotate(1deg);
      }
      &#index-card-03 {
        position: relative;
        top: -3rem;
        left: -3rem;
        transform: rotate(-5deg);
      }
    }
  }
  #home-buffer {
    width: 100%;
  }
  #covid {
    background: $dark;
    // padding: 3rem 0rem;
    color: white;
    // height: 10rem;
    img {
      margin-top: -2.5rem;
      width: 100%;
      // width: calc(100% - 48px);
      // margin: -8rem 1.5rem 0 1.5rem;
    }
    p {
      padding: 3rem 1.5rem 5rem 1.5rem;
      margin: 0px;
      text-align: center;
      // width: calc(100% - 48px);
      // margin: 1.5rem;
    }
  }
}
