@use "constants" as *;

main.home {
  .header {
    z-index: 0;
    position: relative;
    min-height: 65vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

    background: url(assets/dress/home-header-bg.png) fixed no-repeat;
    background-size: cover;
    background-position-x: 50%;
    @supports (-webkit-touch-callout: none) {
      background: url(assets/dress/home-header-bg.png) top center no-repeat
        scroll;
      background-size: cover;
    }

    #pattern-r-top {
      z-index: 10;
      position: absolute;
      right: 0;
      top: 13vh;
      width: 43vw;
    }

    #title {
      padding: 3rem 1.5rem;
      z-index: 20;
      position: relative;

      h1 {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        @include title-display;
      }
      #title-1 {
        grid-area: 1/2/2/12;
      }
      #title-2 {
        grid-area: 2/3/3/13;
      }
      #title-3 {
        grid-area: 3/9/4/12;
        justify-self: end;
      }
      #title-4 {
        grid-area: 4/6/5/11;
        justify-self: end;
      }
    }

    #pattern-l-top {
      z-index: 10;
      position: absolute;
      left: 0;
      top: -1vh;
      width: 48vw;
    }

    .page-down {
      z-index: 20;
      max-width: 100%;
      height: auto;
      position: absolute;
      bottom: 0;
    }
  }

  .bg-wrapper {
    position: relative;
    &::before {
      content: "";
      overflow: hidden;
      position: absolute;
      z-index: -100;
      background-image: url(assets/dress/textures/fabric-texture_woven-01.jpg);
      background-size: 17.5%;
      mix-blend-mode: multiply;
      width: 100%;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.4;
    }
  }

  #about,
  #dates,
  #artists {
    padding: 1.5rem;
  }

  #dates {
    // .stitches-y-top {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   right: 0;
    //   width: 100%;
    //   height: auto;
    // }

    padding-top: 6rem;

    @include twelve-col-grid;
    column-gap: 0;
    row-gap: 1rem;

    .date-text {
      grid-area: 1/2/2 / end;
      line-height: 0.8em;
      max-width: fit-content;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
    }
    .date-buttons {
      grid-area: 2/1/3 / 11;
      justify-self: end;
    }
  }

  #pattern-r-mid {
    z-index: -1;
    position: absolute;
    right: 0;
    top: -5vh;
    width: 49vw;
  }

  #pattern-l-mid {
    z-index: -1;
    position: absolute;
    left: 9vw;
    top: 12vh;
    width: 60vw;
  }

  #about {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    .byline {
      margin: 0 auto 4rem auto;
      max-width: max-content;

      display: grid;
      grid-template-columns: repeat(12, 1fr);

      #byline-1 {
        grid-area: 1/2/2 / end;
      }
      #byline-2 {
        grid-area: 2/5/3 / end;
      }
      #byline-3 {
        grid-area: 3/3/4 / end;
      }
    }

    .about-text {
      max-width: 72vw;
      align-self: center;
    }
  }

  #artists {
    @include twelve-col-grid;
    column-gap: 0;
    row-gap: 1rem;

    .artists-heading {
      grid-area: 1/2/2 / 13;
      justify-self: end;
      margin-right: 0.5rem;

      h2 {
        max-width: max-content;
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        #artists-part {
          grid-area: 1/2/2 / 12;
          justify-self: end;
        }
        #artists-art {
          grid-area: 2/1/3 / 13;
        }
        #artists-groups {
          grid-area: 3/3/4 / 13;
        }
      }
    }
    .artists-buttons {
      grid-area: 2/3/3 / 13;
    }
  }
}
