@use "constants" as *;

main.home {
  display: block;
  .header {
    min-height: 60vh;
    // max-height: 70vh;
    width: 100vw;
    background: url(assets/dress/home-header-bg.png) fixed no-repeat
      $primary-orange;
    // background-position-y: 64px;
    background-size: auto 100vh;
    position: relative;
    display: grid;
    place-content: center;
    #title {
      margin: auto;
      //   width: 300px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      h1 {
        @include title-display;
      }
      padding: 10vh 0 6vh;
      #title-left {
        align-self: flex-start;
      }
      #title-right {
        align-self: flex-end;
      }
      #title-center {
        text-align: center;
      }
    }
    .page-down {
      max-width: 100%;
      min-width: 300px;
      height: auto;
      position: absolute;
      bottom: 0;
    }
  }
  .bg-wrapper {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-image: url(assets/dress/home-texture-01.png);
      //   background-color: lightgray;
      background-size: auto 100vh;
      mix-blend-mode: multiply;
      width: 100%;
      overflow: hidden;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.6;
    }
  }
  #about,
  #dates,
  #artists {
    // overflow-x: hidden;
    padding: 1.5rem;
    min-height: 20rem;
    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    .script {
    }
  }
  #dates {
    color: white;
    // background: url(assets/dress/home-texture-01.png) no-repeat;
    padding: 10rem 1.5rem 6rem 1.5rem;
  }
  #about {
    color: white;
    min-height: 0px;
    // background: $dark;
    a.primary {
      color: $white;
      border: 1px solid white;
      //   background: $beige;
    }
  }
  #artists {
    // background: $beige-02;
    overflow-x: hidden;
    img.index-card {
      max-width: 60vw;
      &#index-card-01 {
        position: relative;
        top: 2rem;
        left: 12rem;
        transform: rotate(3deg);
      }
      &#index-card-02 {
        position: relative;
        top: 1rem;
        left: 5rem;
        transform: rotate(1deg);
      }
      &#index-card-03 {
        position: relative;
        top: -3rem;
        left: -3rem;
        transform: rotate(-5deg);
      }
    }
  }
  #home-buffer {
    width: 100%;
  }
  #covid {
    background: $dark;
    // padding: 3rem 0rem;
    color: white;
    // height: 10rem;
    img {
      margin-top: -2.5rem;
      width: 100%;
      // width: calc(100% - 48px);
      // margin: -8rem 1.5rem 0 1.5rem;
    }
    p {
      padding: 3rem 1.5rem 5rem 1.5rem;
      margin: 0px;
      text-align: center;
      // width: calc(100% - 48px);
      // margin: 1.5rem;
    }
  }
}
