@use "constants" as *;

@media screen and (min-width: 1080px) {
  //   Nav ##############################################################

  nav.top {
    padding: 0 3rem;
  }

  // Front Page ##########################################################

  main.home {
    .header #title {
      @include padding-3rem;
      h1 {
        font-size: 10.2rem;
      }
    }
    #dates,
    #about,
    #artists {
      padding: 3rem;
    }
  }

  // About Page ############################################################

  main.about {
    .dress {
      @include padding-calc-3rem;
    }
    .festival {
      @include padding-calc-3rem;
    }
    .people {
      @include padding-calc-3rem;
    }
    .partners {
      @include padding-calc-3rem;
    }
    .support {
      @include padding-calc-3rem;
    }
  }

  //   Artists listing page ################################################

  main.artist-listing {
    @include padding-3rem;
    min-height: 60%;
  }

  // Single Artist page ####################################################

  main.artist-single {
    padding: 0 3rem;

    .project-img {
      margin: 0 -3rem;

      h2.project-title {
        width: calc(100% - 3rem);
        padding-left: 3rem;
      }
    }

    .project-info-grid {
      &::before {
        left: -3rem;
        width: calc(100% + 6rem);
      }
    }
  }

  // Schdule page ############################################################

  main.schedule {
    padding: 0 3rem;
  }

  //   Public Programs page ################################################

  main.public-programs {
    min-height: 60%;
    @include padding-3rem;
    .program-container {
      .date-time {
        grid-column: 6/11;
      }
      a {
        grid-column: 11/13;
      }
      .date,
      .time,
      .location {
        display: flex;
        flex-flow: row nowrap;
        gap: 1.5rem;
        h4 {
          width: 6vw;
          display: block;
          flex-shrink: 0;
        }
      }
    }
  }

  // Donate ##################################################################

  div#donate-bg {
    &::before {
      background-size: 40%;
    }
  }

  main.donate {
    @include padding-3rem;
    min-height: 60%;
  }

  // Press ##################################################################

  main.press {
    section.press-posts {
      @include padding-3rem;
    }
  }

  // Footer ##################################################################

  footer {
    padding: 3rem;
    #footer-social {
      grid-column: 9/11;
    }
  }
}
