@use "constants" as *;

main.artist-single {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 10rem 1.5rem 10rem 1.5rem;
  // background: url(assets/paper-artist-R.jpg);
  // background-size: cover;

  .project-img {
    img {
      width: 100%;
      margin-bottom: 2em;
    }
  }

  section.left {
    width: 100%;
    .date,
    .location {
      margin-top: 3rem;
      h5 {
        color: $dark;
      }
    }
  }
  section.right {
    width: 100%;
    img {
      width: 100%;
      margin-bottom: 2em;
    }
    .bios {
      p {
        margin-top: 1rem;
        margin-bottom: 0.25rem;
      }
      a {
        // margin-bottom: 1
        color: $teal;
        &::visited {
          color: $dark;
        }
      }
    }
  }
}

nav.artist-nav {
  position: relative;
  height: 100px;
  margin-top: -100px;
  .arrow {
    width: 100px;
    height: 100px;
    position: absolute;
    &.prev {
      left: 0px;
    }
    &.next {
      right: 0px;
    }
  }
}
