@use "constants" as *;

body {
  background: $primary-orange;
  color: $white;
  padding: 0;
  margin: 0;
}

.d1,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  display: block;
  font-family: $primary-type;
  font-weight: normal;
  line-height: 1em;
  margin: 0px;
}

span.d1 {
  font-size: 3.5rem;
  font-variation-settings: "wght" 700, "opsz" 72, "ital" 0; //display
}

span.script {
  // Enter script mixin here when available
}

.f-weight-700 {
  font-variation-settings: "wght" 700;
}

h1,
.h1 {
  font-size: 3rem;
  font-variation-settings: "wght" 400, "opsz" 72;

  margin-bottom: 0.5rem;
}
h2,
.h2 {
  font-size: 2.2rem;
  font-variation-settings: "wght" 250, "opsz" 72;
}
h3,
.h3 {
  font-size: 1.5rem;
  font-variation-settings: "wght" 300, "opsz" 40;
  line-height: 1.5rem;
}
h4,
.h4 {
  font-size: 1rem;
  font-variation-settings: "wght" 400, "opsz" 20;
  line-height: normal;
}

p,
a {
  font-family: $primary-type;
  font-variation-settings: "wght" 300, "opsz" 6;
  margin: 0;
  margin-bottom: 0.25em;

  span.italic,
  .italic {
    font-variation-settings: "ital" 1;
  }
}

.p1,
span.p1,
.p1r {
  font-size: 1.2rem;
  line-height: 1.1em;
  font-variation-settings: "opsz" 12;
}

h1.hidden {
  font-size: 0;
  width: 1px;
  height: 1px;
  display: inline-block;
  overflow: hidden;
  position: absolute !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
}

.footer-credits {
  font-size: 0.75rem;
  color: $neon-yellow;
}

a.button,
div.button {
  display: flex;
  align-items: center;
  gap: 0.2rem;

  &::after {
    content: url(assets/dress/arrow-right-dark.svg);
    margin-left: 0.5rem;
  }

  padding: 0.375rem 1.25rem 0.375rem 1.5rem;
  border-radius: 1.875rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: normal;
  font-variation-settings: "wght" 400;
  line-height: 1.125rem;
  width: fit-content;
  height: fit-content;

  &.neon-yellow {
    background: $neon-yellow;
    border: 1px solid $neon-yellow;
    color: $black;
    &:hover {
      &::after {
        content: url(assets/dress/arrow-right-light.svg);
        margin-left: 0.5rem;
      }
      background: $pink;
      border-color: $pink;
      color: white;
    }
    &:focus {
      border-color: $white;
      outline: none;
    }
    &:active {
      border-color: $white;
      outline: none;
    }
  }

  &.lavender {
    border: 1px solid $lavender;
    background: $lavender;
    color: $black;

    &:hover {
      &::after {
        content: url(assets/dress/arrow-right-light.svg);
        margin-left: 0.5rem;
      }
      border-color: $pink;
      background: $pink;
      color: white;
    }
    &:focus {
      border-color: $coal;
      outline: none;
    }
  }
  &.pink {
    border: 1px solid $pink;
    background: $pink;
    color: $black;

    &:hover {
      &::after {
        content: url(assets/dress/arrow-right-light.svg);
        margin-left: 0.5rem;
      }
      border-color: $lavender;
      background: $lavender;
      color: white;
    }
    &:focus {
      border-color: $coal;
      outline: none;
    }
  }

  &.transparent {
    color: $white;
    border: 1px solid white;
    background: transparent;
    &::after {
      content: url(assets/dress/arrow-right-light.svg);
      margin-left: 0.5rem;
    }
    &:hover {
      &::after {
        content: url(assets/dress/arrow-right-dark.svg);
        margin-left: 0.5rem;
      }
      background: $lavender;
      color: black;
    }
    &:focus {
      border-color: $white;
      outline: none;
    }
    &:active {
      border-color: $white;
      outline: none;
    }
  }

  &.orange {
    border: 1px solid $primary-orange;
    background: $primary-orange;
    color: $black;

    &:hover {
      &::after {
        content: url(assets/dress/arrow-right-light.svg);
        margin-left: 0.5rem;
      }
      border-color: $deep-green;
      background: $deep-green;
      color: white;
    }
    &:focus {
      border-color: $coal;
      outline: none;
    }
  }

  &.inline {
    padding: 0 0 0.25rem 0;
    border-radius: 0;
    color: $white;
    &::after {
      content: url(assets/dress/arrow-right-light.svg);
      margin-left: 0.5rem;
    }
    &:hover {
      opacity: 0.8;
    }
    &:focus {
      outline: none;
      text-decoration: underline;
    }
  }
}

div.button p {
  display: inline-block;
}

// Flex classes
.flex-container {
  display: flex;
}

.just-flex-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-base {
  align-items: baseline;
}

.flex-col-nw {
  flex-flow: column nowrap;
}

.flex-col-left {
  align-self: flex-start;
}

.flex-col-right {
  align-self: flex-end;
}

.flex-col-center {
  align-self: center;
}

// Grid Classes

.grid-container-12 {
  @include twelve-col-grid;
}

// For positioning children absolute

.positioner {
  position: relative;
  width: 100%;
}

// Stop mobile scrolling on menu view
.stopScrollMenu {
  overflow: hidden;
}
