@use "constants" as *;

@media screen and (min-width: 720px) {
  h1,
  .h1 {
    font-size: 3rem;
  }
  h2,
  .h2 {
    font-size: 2.5rem;
  }
  h3,
  .h3 {
    font-size: 1.5rem;
  }
  h4,
  .h4 {
    font-size: 1rem;
  }
  h5,
  .h5 {
    font-size: 0.875rem;
  }
  a {
  }

  .p1,
  span.p1,
  .p1r,
  .p1 p {
    font-size: 1.5rem;
  }

  .p2,
  span.p2,
  .p2r {
    font-size: 1rem;
  }

  a.button {
    font-size: 1.5rem;
  }

  // Nav header ############################################

  nav.top {
    .menuVisible {
      display: block;
      margin-right: 1rem;

      ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        list-style: none;

        li {
          a {
            @include nav-links;
            text-transform: uppercase;
            text-decoration: none;
            color: $black;
            &:hover {
              border-bottom: 1px solid $black;
              border-top: 1px solid $black;
            }
            &:focus {
              border-top: 1px solid $black;
            }
          }
        }
      }
    }

    .menuFull {
      left: 120vw;

      .bg-wrapper {
        &::before {
          content: "";
          position: absolute;
          background-image: url(assets/dress/home-texture-01.png);
          background-size: 100% auto;
          mix-blend-mode: multiply;
          width: 100%;
          overflow: hidden;
          top: 0px;
          right: 0px;
          bottom: 0px;
          left: 0px;
          opacity: 0.6;
        }
      }
    }
  }

  // Front Page #########################################

  main.home {
    overflow-y: clip;
    .header {
      min-height: 80vh;
      background: url(assets/dress/tablet/home_header_2160w.jpg) fixed no-repeat
        $primary-orange;
      background-size: auto 100%;

      #title {
        display: flex;
        padding: 8vh 0 3vh 0;
        margin: 0 3rem;
        max-width: 100%;
        h1 {
          padding: 0;
          margin: auto;
          @include title-display-tablet;
          @include twelve-col-grid;
          grid-template-rows: repeat(4, 1fr);
          #title-1 {
            grid-column: 2/8;
            grid-row: 1/2;
          }
          #title-2 {
            grid-column: 3/13;
            grid-row: 2/3;
          }
          #title-3 {
            grid-column: 8/13;
            grid-row: 3/4;
          }
          #title-4 {
            grid-column: 6/10;
            grid-row: 4/5;
          }
        }
      }

      #pattern-l-top {
        top: -200px;
      }

      .page-down {
        margin-top: auto;
      }
    }

    .bg-wrapper {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        z-index: -100;
        background-image: url(assets/dress/tablet/home-texture-1380w.png);
        background-size: auto 100%;
        mix-blend-mode: multiply;
        width: 100%;
        overflow: hidden;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.6;
      }
    }

    #dates,
    #about,
    #artists {
      margin: 0 3rem;
      padding-left: 0;
      padding-right: 0;
    }

    #dates {
      padding-bottom: 0;
      div.flex-container {
        display: block;
      }

      .date-text {
        @include twelve-col-grid;
        grid-template-rows: repeat(3, 1fr);
        line-height: 0.9em;
        .month {
          grid-column: 3/8;
          grid-row: 1/2;
        }
        .days {
          grid-column: 2/8;
          grid-row: 2/3;
          margin-bottom: 0;
          align-self: start;
        }
        .button.neon-yellow {
          grid-column: 8/11;
          grid-row: 2/3;
        }
        .button.lavender {
          grid-column: 8/13;
          grid-row: 3/4;
        }
      }
    }

    #pattern-r-mid {
      top: -100;
    }

    #pattern-l-mid {
      top: 240;
    }

    #about {
      .byline {
        padding-bottom: 5rem;
        @include twelve-col-grid;
        grid-template-rows: repeat(3, 1fr);
        line-height: 0.85em;
        #byline-1 {
          grid-column: 4/7;
          grid-row: 1/2;
        }
        #byline-2 {
          grid-column: 6/13;
          grid-row: 2/3;
        }
        #byline-3 {
          grid-column: 5/8;
          grid-row: 3/4;
        }
      }

      .about {
        @include twelve-col-grid;
        grid-template-rows: 1fr;
        .p1 {
          grid-column: 3/11;
          grid-row: 1/2;
        }
        .button.orange {
          grid-column: 3/10;
          grid-row: 2/3;
        }
      }
    }

    #artists {
      .artists h2 {
        @include twelve-col-grid;
        grid-template-rows: repeat(4, 1fr);
        #artists-40 {
          grid-column: 6/7;
          grid-row: 2/3;
          text-align: right;
        }
        #artists-part {
          grid-column: 7/12;
          grid-row: 2/3;
        }
        #artists-art {
          grid-column: 6/11;
          grid-row: 3/4;
        }
        #artists-groups {
          grid-column: 7/12;
          grid-row: 4/5;
        }
      }
    }
  }

  // Single Artist page #######################################

  main.artist-single {
    margin: 0;
    padding: 0 2.75rem;

    .project-img {
      margin: auto -2.75rem;

      img {
        margin: 0;
      }

      h2.project-title {
        z-index: 0;
        display: block;
        position: absolute;
        bottom: -0.6rem;
        left: 0;
        width: calc(100% - 2.75rem);
        padding-left: 2.75rem;
        margin-bottom: 0;

        .overlay-gradient {
          position: absolute;
          bottom: 0.6rem;
          left: 0;
          width: 100%;
          height: 4rem;
          z-index: -1;
          opacity: 0.4;
          background: linear-gradient(
            9deg,
            #810061 27.33%,
            rgba(129, 0, 97, 0) 92.85%
          );
        }
      }
    }

    .project-info-grid {
      position: relative;
      width: 100%;
      @include twelve-col-grid;
      grid-template-rows: 8rem 1fr;
      grid-auto-rows: auto;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -2.75rem;
        width: calc(100% + 5.5rem);
        height: 100%;
        z-index: -1;
        opacity: 0.3;
        background: linear-gradient(
          180deg,
          #f0fa00 0%,
          rgba(240, 250, 0, 0) 100%
        );
      }

      h3.project-artists {
        display: block;
        grid-row: 1;
        grid-column: 1/13;
        margin-top: 1rem;
      }
    }

    section.left {
      grid-row: 2;
      grid-column: 1/5;
      padding-top: 0;

      &::before {
        display: none;
      }

      h2.project-title {
        display: none;
      }
      h3.project-artists {
        display: none;
      }

      .location {
        &:not(.location ~ .location) {
          margin-top: 0;
        }
      }
    }

    section.right {
      grid-row: 2;
      grid-column: 6/13;
    }
  }

  // Schedule Page ##########################################

  #schedule-background {
    background: url(assets/dress/tablet/home-texture-1380w.png);
    background-size: auto 100%;
  }
  main.schedule {
    .artists {
      margin: 0;
      padding: 0 2.75rem;
      @include twelve-col-grid;
    }
    .button {
      display: none;
    }
    #friday {
      grid-column: 1/5;
    }
    #saturday {
      grid-column: 5/9;
    }
    #sunday {
      grid-column: 9/13;
    }

    div.day {
      margin: 0;
      width: 100%;
      &#saturday,
      &#sunday {
        margin-top: 0;
      }

      .pp-time,
      .artist-time {
        margin: 0;
        width: 6vw;
        flex-shrink: 0;
      }

      .artist-container {
        display: flex;
        gap: 1rem;
      }
    }

    .pp-container {
      display: flex;
      gap: 1rem;
    }
  }

  // Public Programs page ###########################################

  #program-background {
    background: url(assets/dress/tablet/desktop-bg-texture.png) 50% / cover
        no-repeat,
      $primary-magenta;
  }
  main.public-programs {
    .program-container {
      @include twelve-col-grid;
      h3 {
        grid-column: 1/3;
      }
      p {
        grid-column: 3/6;
      }
      .date-time {
        grid-column: 6/10;
      }
      a {
        grid-column: 10/13;
        justify-self: right;
      }
      div.date {
        border: none;
        padding-top: 0;
      }
    }
  }

  // Artist listing page ####################################################

  main.artist-listing {
    margin: 6rem 0;
    section.artists {
      // margin: 0;
      @include twelve-col-grid;
      span.page-title {
        grid-column: 1/13;
        margin-bottom: 1rem;
      }
      .artist-container {
        border-top: 0;
        position: relative;
        grid-column: 1/13;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 1rem;
        padding: 0 0 1rem;
        margin: 0;

        span.artist-letter {
          position: absolute;
          top: -0.8rem;
          grid-column: 1/3;
          font-size: 6rem;
          padding-left: 1rem;
        }

        .artist-copy {
          position: relative;
          grid-column: 3/11;
          border-top: 1px solid $neon-yellow;
          padding-top: 0.5rem;
        }
        a.button {
          display: none;
        }
        .list-thumb {
          display: block;
          grid-column: 10/13;
          position: absolute;
          z-index: -1;
          opacity: 0;
          right: 0;
          top: -45;
          transition: all ease-out 0.3s;
        }

        &:hover {
          .list-thumb {
            right: 100;
            opacity: 0.3;
          }
        }
      }

      .container-link {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }

  main.donate {
    @include twelve-col-grid;
    min-height: 50%;
    .page-title {
      grid-column: 2/12;
      grid-row: 1/2;
    }
    div.payment-method {
      grid-row: 2/3;
      &.paypal {
        grid-column: 1/6;
        padding-right: 2rem;
      }
      &.mail {
        grid-column: 7/12;
      }
    }
  }

  // Press page ###########################################################

  #press-bg {
    background: url(assets/dress/tablet/desktop-bg-texture.png) 50% / cover
        no-repeat,
      $primary-magenta;
  }
  main.press {
    margin-top: 6rem;
    min-height: calc(100vh - 20rem);
    section.press-posts {
      .press-container {
        margin: 1rem 0;
        @include twelve-col-grid;
        .press-publication {
          grid-column: 1/6;
          grid-row: 1/2;
        }
        .press-title {
          grid-column: 1/8;
          grid-row: 2/3;
        }
        p.press-date {
          margin-top: 1rem;
          border-top: 0;
          padding-top: 0;
          grid-column: 7/10;
          grid-row: 1/2;
        }
        .button {
          grid-column: 10/13;
          grid-row: 1/2;
        }
      }
      //   .press-topline {
      //     display: flex;
      //     justify-content: space-between;
      //     align-items: center;
      //   }
      // }
    }
  }

  //   main.about {
  //     top: -6rem;
  //     margin-top: 0;
  //     margin-bottom: -6rem;
  //     section.header {
  //       // height: 100vh;
  //       // background: $beige-02;
  //       // background-size: cover;
  //       div.display {
  //         @include twelve-col-grid;
  //         p {
  //           font-size: 8rem;
  //           line-height: 1em;
  //           &.lquo {
  //             text-align: right;
  //           }
  //         }
  //         div {
  //           grid-column: 2/12;
  //         }
  //       }
  //     }
  //     img.buffer {
  //       width: 100%;
  //     }
  //     section.cs {
  //       @include twelve-col-grid;
  //       padding-top: 6rem;
  //       padding-bottom: 8rem;
  //       &.p2 p {
  //         font-size: 1.25rem;
  //       }
  //       p {
  //         grid-column: 2/11;
  //         margin-bottom: 1rem;
  //       }
  //       div.button {
  //         grid-column: 2/4;
  //       }
  //     }
  //     section.festival {
  //       @include twelve-col-grid;
  //       padding: 6rem 1.5rem;
  //       .mission {
  //         margin-right: 2rem;
  //         grid-column: 2/7;
  //       }
  //       .history {
  //         grid-column: 7/12;
  //         margin: 0;
  //       }
  //     }
  //     section.people {
  //       @include twelve-col-grid;
  //       grid-template-rows: 4rem 4rem auto auto auto auto auto auto;
  //       row-gap: 2rem;
  //       margin-top: -6rem;
  //       margin-bottom: 4rem;
  //       img {
  //         &.blob-person-1 {
  //           grid-column: 7/10;
  //           grid-row: 1/4;
  //           width: 85%;
  //           align-self: flex-start;
  //         }
  //         &.blob-person-2 {
  //           display: block;
  //           grid-column: 10/12;
  //           grid-row: 2/5;
  //           width: 100%;
  //         }
  //       }
  //       h2.staff {
  //         grid-column: 2/7;
  //         grid-row: 3;
  //         margin-bottom: 4rem;
  //       }
  //       div.staff {
  //         margin-bottom: 2rem;
  //         div.staff_links a {
  //           font-size: 1rem;
  //         }
  //       }
  //       div.staff.curator {
  //         grid-column: 2/7;
  //         grid-row: 4;
  //       }
  //       div.staff_col_1 {
  //         grid-column: 2/7;
  //         grid-row: 5;
  //       }
  //       div.staff_col_2 {
  //         grid-column: 7/12;
  //         grid-row: 5;
  //       }
  //       h2.thinkers {
  //         grid-column: 2/12;
  //         grid-row: 6;
  //         margin-top: 6rem;
  //         margin-bottom: 4rem;
  //       }
  //       div.thinkers_col_1 {
  //         grid-column: 2/7;
  //         grid-row: 7;
  //       }
  //       div.thinkers_col_2 {
  //         grid-column: 7/12;
  //         grid-row: 7;
  //       }
  //       div.read-more {
  //         grid-column: 2/12;
  //         grid-row: 8;
  //       }
  //     }
  //     section.partners {
  //       @include twelve-col-grid;
  //       // grid-template-rows: 3;
  //       // background: $beige-02;
  //       padding-top: 4rem;
  //       // margin-top: -12rem;
  //       h2 {
  //         grid-column: 2/6;
  //         margin-bottom: 4rem;
  //       }
  //       img.partner-logo {
  //         grid-column: 2/4;
  //         width: 80%;
  //       }
  //       .partner {
  //         grid-column: 4/12;
  //         margin-bottom: 3rem;
  //       }
  //     }
  //     section.support {
  //       @include twelve-col-grid;
  //       row-gap: 2rem;
  //       // margin-top: 6rem;
  //       padding-bottom: 6rem;
  //       h2 {
  //         grid-column: 2/12;
  //         grid-row: 1/2;
  //       }
  //       div.dedication {
  //         grid-column: 2/9;
  //         grid-row: 2/3;
  //       }
  //       div.consultation {
  //         margin-right: 2rem;
  //         grid-column: 2/5;
  //         grid-row: 3/4;
  //       }
  //       div.thanks {
  //         grid-column: 5/12;
  //         grid-row: 3/4;
  //       }
  //       p.p2r {
  //         font-size: 1.25rem;
  //       }
  //     }
  //   }

  //   div.artist-textures {
  //     z-index: -10;
  //     position: absolute;
  //     display: flex;
  //     top: -11rem;
  //     width: 100%;
  //     height: calc(100% + 24rem);
  //     div#left-page {
  //       display: inline-block;
  //       background: url("assets/artist_paper_LL.jpg");
  //       background-position-x: right;
  //       background-position-y: top;
  //       background-size: cover;
  //       background-repeat: no-repeat;
  //       flex-grow: 4.5;
  //       height: 100%;
  //     }
  //     div#right-page {
  //       display: inline-block;
  //       background: url("assets/menu_paper_RR.jpg");
  //       background-position: -2px;
  //       background-position-y: top;
  //       background-size: cover;
  //       background-repeat: no-repeat;
  //       flex-grow: 6;
  //       height: 100%;
  //     }
  //   }
  //

  //

  //   main.partners {
  //     @include twelve-col-grid;
  //     margin: 6rem 0 0 0;
  //     grid-template-rows: auto auto auto;
  //     .page-title {
  //       grid-column: 2/12;
  //       grid-row: 1/2;
  //     }
  //     .partner_images {
  //       margin: 0 0 4rem 0;
  //       &.popwalk {
  //         grid-column: 1/5;
  //         grid-row: 2/3;
  //       }
  //       &.pollinate {
  //         grid-column: 9/13;
  //         grid-row: 3/4;
  //       }
  //     }
  //     .partner {
  //       margin: 0 0 6rem 0;
  //       &.popwalk {
  //         grid-column: 5/12;
  //         grid-row: 2/3;
  //       }
  //       &.pollinate {
  //         grid-column: 2/9;
  //         grid-row: 3/4;
  //       }
  //     }
  //   }

  //   main.maps {
  //     @include twelve-col-grid;
  //     // margin: 6rem 0 6rem 0;
  //     div.partner {
  //       img.logo {
  //         height: 6rem;
  //         width: auto;
  //       }
  //       &.popwalk {
  //         grid-column: 2/7;
  //       }
  //       &.pollinate {
  //         grid-column: 7/12;
  //       }
  //     }
  //   }

  footer {
    @include twelve-col-grid;
    padding: 3rem;
    p,
    a {
      font-size: 1rem;
    }
    #footer-festival {
      grid-column: 1/3;
    }
    #footer-people {
      grid-column: 5/7;
    }
    #footer-contact {
      grid-column: 7/9;
    }
    #footer-social {
      grid-column: 10/11;
      .social {
        margin-top: 0;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
      }
      .social-icon svg {
        width: 1.75rem;
        display: inline-block;
      }
    }
    #footer-copyright {
      grid-column: 11/13;
    }
  }
}
